footer{
    display:grid;
    grid-template-columns: 2fr 1fr;
    clear:both;
    line-height: 3em;
}

#social-media-links{
    text-align:right;
}

#social-media-links i{
    padding: 0 .25em;
}

/* This is the mobile layout*/
@media screen and (max-width: 560px){

    *{
        border:0;
        padding:0;
        margin:0;
    }

    .alert-info{
        padding: 1em;
        margin:1em 0;
        background: rgb(197, 255, 252);
        border:2px solid lightgrey;
    }

    body{
        padding:1em;
    }

    body *{
        text-align:center; 
    }

    h1{
        font-size:4em;
        margin-bottom:1em;
    }

    .nav-links{
        padding:0em;
    }

    .nav-links li{
        padding: 1em;
        margin:1em 0;
        background: lightgrey;
        list-style: none;
    }

    .header-img{  
        width:100%;
    }

    .header-img img{
        padding:0;
        width:100%;
    }
    
    section{
        margin:1em 0;
    }

    section *{
        text-align:left;
        padding: .5em 0;
    }

    footer *{
        text-align:left;
    }

}

/* This is the desktop layout*/
@media screen and (min-width: 560px) {

    .hidden-on-desktop{
        display:none;
    }
    
    body {
        padding: 2em;
        background:white;
    }
    
    h1 {
        float: left;
    }
    
    nav {
        float: right;
    }
    
    .nav-links {
        display: flex;
    }
    
    li {
        padding: 1em;
        list-style: none;
    }
    
    section {
        float: left;
        height:40vh;
    }
    
    .main {
        float: left;
        width: 60%;
    }
    
    .sub-section {
        float: right;
        width: 40%;
    }
    
    .header-img {
        clear: both;
        width: 100%;
    }
    
    .header-img img {
        width: 100%;
    }
}

@media screen and (min-width: 480px) {
    h1 {
        text-align: center;
    }
}